<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
    <!--/*@thymesVar id="recipe" type="com.tuskar.sfgrecipe2.domain.Recipe"*/-->
    <!--/*@thymesVar id="difficulty" type="com.tuskar.sfgrecipe2.domain.Difficulty"*/-->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form th:object="${recipe}" th:action="@{/recipe/}">

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p>Please Correct Errors Below</p>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <div class="card" style="margin-bottom: 15px">
                        <div class="card-header bg-success">
                            <h1 class="card-title">Edit Recipe Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')}
                                    ?'col-md-3 form-group has-error':'col-md-3 form-group'">
                                    <label th:text="#{recipe.description}">Recipe Description d:</label>
                                    <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
                                    <span class="form-text text-danger" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                    ?'col-md-3 form-group has-error':'col-md-3 form-group'">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}" th:errorclass="has-error"/>
                                    <span class="form-text text-danger" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                    ?'col-md-3 form-group has-error':'col-md-3 form-group'">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}" th:errorclass="has-error"/>
                                    <span class="form-text text-danger" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(com.tuskar.sfgrecipe2.domain.Difficulty).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name()}">Value</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                    ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}" th:errorclass="has-error"/>
                                    <span class="form-text text-danger" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                    ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}" th:errorclass="has-error"/>
                                    <span class="form-text text-danger" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 15px">
                        <div class="card-header bg-secondary">
                            <div class="row">
                                <div class="col-md-10 ">
                                    <h1 class="card-title">Ingredients</h1>
                                </div>
                                <div class="col-md-2" style="padding-top: 8px;">
<!--                                    <a class="btn btn-primary" href="#" role="button">Edit</a>-->
                                    <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                            ' ' + ingredient.uom.getDescription() +
                                            ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                    <div th:each="ingridientEach,idx : ${recipe.ingredients}">
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].id}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].description}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].amount}"/>
                                        <input type="hidden" th:field="*{ingredients[__${idx.index}__].uom.id}"/>
                                    </div>
                                    <div th:each="catEach,idx : ${recipe.categories}">
                                        <input type="hidden" th:field="*{categories[__${idx.index}__].id}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 15px">
                        <div class="card-header bg-info">
                            <h1 class="card-title">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 15px">
                        <div class="card-header bg-warning">
                            <h1 class="card-title">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>